<h1>Recipients and their planned gifts: </h1>
<ul>
<% @recipients.each do |r| %>
    <li><%= link_to "#{r.name}", recipient_path(r.id) %> || 
        <% r.gifts.each do |g| %>
            <%= g.name %></li>
        <% end %>
<% end %>
</ul>
